<%= form_for(@customer) do |f| %>
  <%= f.error_messages %>
  <ol>
  <li>
    <%= f.label :cust_type, "Type" %>
    <%= f.select :cust_type, Customer::TYPES %>
  </li>
  <li>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </li>
  <li>
    <%= f.label :taxable %>
    <%= f.check_box :taxable %>
  </li>
  <% if current_user.admin? %>
  <li>
    <%= f.label :terms %>
    <%= f.check_box :terms %>
  </li>
  <% end %>
  <li>
    <%= f.label :code %>
    <%= f.text_field :code, :maxlength => 10 %>
  </li>
  <li>
    <%= f.label :name %>
    <%= f.text_field :name, :size => 80 %>
    <p>Eg.: <%= current_user.name %> or Company Name</p>
  </li>
  <li>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <p>Eg.: 403-317-7777</p>
  </li>
  <li>
    <%= f.label :rate, "Flat Rate" %>
    <%= f.text_field :rate %>
  </li>
  <li>
    <%= f.label :rate_orig, "Flat Rate Orig" %>
    <%= f.text_field :rate_orig %>
  </li>
  <li>
    <%= f.label :rate_dest, "Flat Rate Dest" %>
    <%= f.text_field :rate_dest %>
  </li>
  <li>
    <%= f.label :rate_notes, "Flat Rate Notes" %>
    <%= f.text_area :rate_notes, :rows => 5 %>
    <p>Eg.: 2010-01-01 00:00 Mon / D# / DI / Rate</p>
  </li>
  <li>
    <%= f.label :rate_renewed_on %>
    <%= f.date_select :rate_renewed_on, :default => Date.today %>
  </li>
  <li>
    <%= f.label :notes %>
    <%= f.text_area :notes, :rows => 5 %>
  </li>
  <li>
    <%= f.submit "Save" %>
  </li>
  </ol>
<% end %>