<%= form_for(@unit) do |f| %>
  <%= f.error_messages %>
  <ol>
  <li>
    <%= f.label :number %>
    <%= f.text_field :number %>
  </li>
  <li>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </li>
  <li>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </li>
  <li>
    <%= f.submit %>
  </li>
  </ol>
<% end %>
